In [ ]:
q1 : Create your own class to perform a list search operation 
q2 : create a class for dict new element addition
q3 : create a class for tuple data extraction operation
q4 : Create a class to implement all insert , update , delete operation for mysql
q5 : create a class to implement insert , uupdate and delete in monngo db 
q6 : create a class to perform append and delete operation in a file and inherit it in child class 
q7 : create a class to import a data into file from mongo db 
q8 : Create a class to build a calculator funcnalities addition , subtraction , multiplication ,div , log , exponenet , power 
q9 : create a class method to find a time and space complexity of any function
q10: create a class to do a bulk uplaod of a file in mysql 
q11: give 10 different example of ploymorphism , encaptulation ,data  abstraction , overloading , ovverriding , multiple inheritance
q12: Try to explore a meaning of "-> " this sinnature in python 

you have to complete this task before next saturday (21st of jan 2023) class and send it to me : sudhanshu@ineuron.ai with up and running code

class timeinig for 21st and 22nd will be 10 AM IST , only for one week as i am traveling (sat and sun ) after that it will be 
same as per our regular schedule

In [ ]:
Create a class to perform a list search operation

In [51]:

def list_input(*args):
    
    list_as_input = list(args)
    return list_as_input
list_input(1,2,3,4,'anil',1.2)

[1, 2, 3, 4, 'anil', 1.2]

In [ ]:

def list_search(x,y):
    
    i = 0
    while i<len(x):
        if y == x[i]:
            return (x[i])
        i = i+1
       
        
        
  
       

list_search([1,2,3,4,'Anil'],"Anil")

In [30]:
class lists_operations:
    def __init__(self,x):
        self.x = x
    
    def list_search(self):
        y = input("Enter what you want to search: ")

        i = 0
        while i<len(lists_operations.self.x):
            if y == lists_operations.self.x[i]:
                return lists_operations.self.x[i]
            i = i+1

In [31]:
obj = lists_operations([1,2,3,4,'Anil'])

In [32]:
obj.list_search()

Enter what you want to search: 4

AttributeError: type object 'lists_operations' has no attribute 'self'

In [ ]:
list_search([1,2,3,4,'Anil'],"Anil")

In [ ]:
n = int(input("Enter the number of elements to insert into the list: "))
def input_list():
    l = []
   

    for i in range(n):
        user_input = input('Enter the elements: ')
        # print(f"The value at the index {i} is {user_input}")
        l += [user_input]
    return l 

def list_search(input_list,value_search):
    
    i = 0
    while i<len(input_list):
        if value_search == input_list[i]:
            return (input_list[i])
        i = i+1
list_search(input_list()
            , 4)

In [36]:

def list_search(x,y):
    
    i = 0
    while i<len(x):
        if y == x[i]:
            return (x[i])
        i = i+1
       
        
        
  
       

list_search([1,2,3,4,'Anil'],"Anil")

'Anil'

In [ ]:
q2 : create a class for dict new element addition

In [ ]:
d = {'key1':(12,),'key2': [1,2,3]}

In [35]:
def dict_element_addition(d):
    key = input('enter a key input: ')
    value = input("enter a value: ")
    d[key]= value
    return d

dict_element_addition({"key1":12,"key2":[12,3,4]})

enter a key input: key3
enter a value: anil

{'key1': 12, 'key2': [12, 3, 4], 'key3': 'anil'}

In [ ]:
q3 : create a class for tuple data extraction operation

In [33]:
def tuple_unpack(x):
    a,b = x
    print(a,b)

tuple_unpack((1,2))

1 2

In [ ]:
q4 : Create a class to implement all insert , update , delete operation for mysql

In [ ]:
# pip install mysql-connector-python
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Newedge@123"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute('create database ineuron')

# this is my mysql workbench user and password
# package is installing but showing no module found 'mysql'

In [ ]:
q5 : create a class to implement insert , update and delete in monngo db

In [ ]:
pip install pymongo

In [37]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://anil1415:Calgary@cluster0.yg4bnlv.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['ac-vh16ihk-shard-00-02.yg4bnlv.mongodb.net:27017', 'ac-vh16ihk-shard-00-01.yg4bnlv.mongodb.net:27017', 'ac-vh16ihk-shard-00-00.yg4bnlv.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-147xvg-shard-0', tls=True), 'test')

In [38]:
import pandas as pd
db = client.ineuron
collection  = db.fsds_8th
data_test = pd.DataFrame(list(collection.find()))
from pprint import pprint
pprint(data_test)

                        _id class name       topic name    today date  \
0  63baa9a170e11d800b016984   fsds 2.0  mongo db no sql  8th jan 2023
1  63baab0070e11d800b016986   fsds 2.0  mongo db no sql  8th jan 2023
2  63baab0070e11d800b016985   fsds 2.0  mongo db no sql  8th jan 2023
3  63baab0070e11d800b016989   fsds 2.0  mongo db no sql  8th jan 2023
4  63baab0070e11d800b016987   fsds 2.0  mongo db no sql  8th jan 2023
5  63baab0070e11d800b016988   fsds 2.0  mongo db no sql  8th jan 2023
6  63baac1670e11d800b01698a   fsds 2.0  mongo db no sql  8th jan 2023
7  63baaca470e11d800b01698b   fsds 2.0  mongo db no sql  8th jan 2023

         today task                                   today config    id
0               NaN                                            NaN   NaN
1               NaN                                            NaN   NaN
2               NaN                                            NaN   NaN
3               NaN                                            NaN   NaN
4               NaN                                            NaN   NaN
5               NaN                                            NaN   NaN
6  mysql based task  [mongo_atlas, mango workbench, mongo compass]   NaN
7  mysql based task  [mongo_atlas, mango workbench, mongo compass]  Anil

In [39]:
db = client.sask

In [40]:
db = client.sask

In [41]:
collection  = db.course

In [42]:
data = pd.DataFrame(list(collection.find()))

In [43]:
from pprint import pprint
pprint(data)

                         _id                          course_name  \
0   63c8f3ce70a4715d1b6ccda8  [fsds, fsda, big data, deveops, bc]
1   63c8f40670a4715d1b6ccda9  [fsds, fsda, big data, deveops, bc]
2   63c8f40670a4715d1b6ccdaa  [fsds, fsda, big data, deveops, bc]
3   63c8f40670a4715d1b6ccdab  [fsds, fsda, big data, deveops, bc]
4   63c8f40670a4715d1b6ccdac  [fsds, fsda, big data, deveops, bc]
5   63c8f40670a4715d1b6ccdad  [fsds, fsda, big data, deveops, bc]
6   63c8f4e770a4715d1b6ccdae  [fsds, fsda, big data, deveops, bc]
7   63c8f4e770a4715d1b6ccdaf  [fsds, fsda, big data, deveops, bc]
8   63c8fd3870a4715d1b6ccdb2  [fsds, fsda, big data, deveops, bc]
9   63c8fd3870a4715d1b6ccdb3  [fsds, fsda, big data, deveops, bc]
10  63c8fd3870a4715d1b6ccdb4                                  NaN
11  63c8fd3870a4715d1b6ccdb5                                  NaN
12  63c8fd3e70a4715d1b6ccdb6                                  NaN

                        instructor        date  mode  name    price duration
0   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
1   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
2   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
3   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
4   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
5   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
6   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
7   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
8   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
9   [sudh, anil, shah, hit, navin]  12-12-2022  live   NaN      NaN      NaN
10                   [hitesh, anu]         NaN   NaN  fswd  20000.0    eight
11                   [hitesh, anu]         NaN   NaN  fswd  20000.0    eight
12                   [hitesh, anu]         NaN   NaN  fswd  20000.0    eight

In [ ]:
q6 : create a class to perform append and delete operation in a file and inherit it in child class ?

In [ ]:
q7 : create a class to import a data into file from mongo db

In [ ]:
class mongodb : 
    
    def __init__(self , userid1 , password1, data ) :
        
        """
        this is a code for mongodb connectivity and its related application 
        """
        self.userid = userid1
        self.password = password1 
        self.data = data 
    
    
    def connect(self) :
        print("this fun will help you to coonnect with your mongo db ")
        url = "mongodb+srv://" + self.userid + ":" + self.password+ "@cluster0.qivyyos.mongodb.net/?retryWrites=true&w=majority"
        client = pymongo.MongoClient(url)
        return client
        
    def insert(self ):
        conn = self.connect()
        print("this fun will help you to insert into mondo db ")
        db = conn['mongodb_test']
        coll = db['mongo_record']
        coll.insert_one(self.data)
        
    def update(self):
        print("this fun will help you to update in mongodb")

In [ ]:
mongo = mongodb("mongodb" , "mongodb")

In [ ]:
q8 : Create a class to build a calculator functionalities addition , subtraction , multiplication, 
     div , log , exponenet , power?

In [ ]:
def add(x1,x2):
    return x1+x2

def substract(x1,x2):
    return x1-x2

def multiply(x1,x2):
    return x1*x2

def division(x1,x2):
    return x1/x2
    
def menu():
    try:
        value = int(input("""
        Select operations:

        1 --> Addition (+)
        2 --> Substraction (-)
        3 --> Multiplication (*)
        4 --> Division (/): 
        5 --> Exit

        """))
        return value

    except Exception as e:
        print("An error occured: ",e)
    




def main(): 
    
    operation = 0
    
    while operation <= 5:
        try:       
            operation = menu()
            a= float(input('Enter first number: '))
            b= float(input('Enter second number: '))
            
        except Exception as e:
            print("an error occured in main() function: ",e)
            return main()
        
        if operation == 5:
            print("User does not like to proceed.")
            break

        elif operation == 1:
            print(f"The addition of {a} + {b}  = {add(a,b)}")

        elif operation == 2:
            print(f"The Substraction  of {a} - {b}  = {substract(a,b)}")
        elif operation == 3:
            print(f"The product of {a} * {b}  = {multiply(a,b)}")
            
        elif operation == 4 or b == 0:
            try:
                print(f"The division os {a} / {b} is :{a/b} ")
            except Exception as e:
                print("Zero division error occured",e)
           
        
        
        cal_again = input("Do you want to perform another operation (y/n): ")
        
        if cal_again.upper() == 'Y':
            main()
            break
            
        else:
            print("Calculation ended")
            break
        
        

main()

In [ ]:
q9 : create a class method to find a time and space complexity of any function?

In [ ]:
q10: create a class to do a bulk upload of a file in mysql?

In [ ]:
q11: Give 10 different examples of ploymorphism, encapsulation, data abstraction, overloading, 
     overriding, multiple inheritance?

In [ ]:
q12: Try to explore a meaning of "-> " this sinnature in python