In [ ]:
q1 : Create your own class to perform a list search operation 
q2 : create a class for dict new element addition
q3 : create a class for tuple data extraction operation
q4 : Create a class to implement all insert , update , delete operation for mysql
q5 : create a class to implement insert , uupdate and delete in monngo db 
q6 : create a class to perform append and delete operation in a file and inherit it in child class 
q7 : create a class to import a data into file from mongo db 
q8 : Create a class to build a calculator funcnalities addition , subtraction , multiplication ,div , log , exponenet , power 
q9 : create a class method to find a time and space complexity of any function
q10: create a class to do a bulk uplaod of a file in mysql 
q11: give 10 different example of ploymorphism , encaptulation ,data  abstraction , overloading , ovverriding , multiple inheritance
q12: Try to explore a meaning of "-> " this sinnature in python 

you have to complete this task before next saturday (21st of jan 2023) class and send it to me : sudhanshu@ineuron.ai with up and running code

class timeinig for 21st and 22nd will be 10 AM IST , only for one week as i am traveling (sat and sun ) after that it will be 
same as per our regular schedule

In [ ]:
Create a class to perform a list search operation

In [ ]:
def input_list():
    l = []
    n = int(input("Enter the number of elements to insert into the list: "))

    for i in range(n):
        user_input = input('Enter the elements: ')
        # print(f"The value at the index {i} is {user_input}")
        l += [user_input]
    return l
input_list()

In [ ]:
class lists_operations:
   
  
  
    def list_search(input_list,value_search):

        i = 0
        while i<len(input_list):
            
            if value_search == input_list[i]:
                return (input_list[i])
            i = i+1

In [18]:
def input_list(l):
    l = []
    n = int(input("Enter the number of elements to insert into the list: "))

    for i in range(n):
        user_input = input('Enter the elements: ')
        # print(f"The value at the index {i} is {user_input}")
        l += [user_input]
    return l
input_list('l')

Enter the number of elements to insert into the list: 2
Enter the elements: a
Enter the elements: s

['a', 's']

In [4]:
type(input_list())

Enter the number of elements to insert into the list: 1
Enter the elements: anil

list

In [22]:
def input_list():
    l = []
    n = int(input("Enter the number of elements to insert into the list: "))

    for i in range(n):
        user_input = input('Enter the elements: ')
        # print(f"The value at the index {i} is {user_input}")
        l += [user_input]
    return l

In [24]:

@input_list 
def list_search(input_list,value_search):
    
    i = 0
    while i<len(input_list()):
        if value_search == input_list[i]:
            return (input_list[i])
        i = i+1
       
a = list_search(input_list, 4)
a()

TypeError: input_list() takes 0 positional arguments but 1 was given

In [ ]:

def list_search(x,y):
    
    i = 0
    while i<len(x):
        if y == x[i]:
            return (x[i])
        i = i+1
       
        
        
  
       

list_search([1,2,3,4,'Anil'],"Anil")

In [ ]:
q2 : create a class for dict new element addition

In [ ]:
d = {'key1':(12,),'key2': [1,2,3]}

In [ ]:
def dict_element_addition(d):
    key = input('enter a key input: ')
    value = input("enter a value: ")
    d[key]= value
    return d

dict_element_addition({"key1":12,"key2":[12,3,4]})

In [ ]:
q3 : create a class for tuple data extraction operation

In [ ]:
# Python3 code to study about
# unpacking python tuple using function

# function takes normal arguments
# and multiply them
def result(x, y):
	return x * y
# function with normal variables
print (result(10, 100))

# A tuple is created
z = (10, 100)

# Tuple is passed
# function unpacked them

print (result(*z))

In [ ]:
a = (1,2,3,4,5)

In [ ]:
(p,q,r,s,t)= a

In [ ]:
print(p,q,r,s,t)

In [ ]:
def tuple_unpack(x):
    a,b = x
    print(a,b)

tuple_unpack((1,2))

In [ ]:
q4 : Create a class to implement all insert , update , delete operation for mysql

In [ ]:
# pip install mysql-connector-python
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Newedge@123"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute('create database ineuron')

# this is my mysql workbench user and password
# package is installing but showing no module found 'mysql'

In [ ]:
q5 : create a class to implement insert , update and delete in monngo db

In [ ]:
pip install pymongo

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://anil1415:Calgary@cluster0.yg4bnlv.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

In [ ]:
import pandas as pd
db = client.ineuron
collection  = db.fsds_8th
data_test = pd.DataFrame(list(collection.find()))
from pprint import pprint
pprint(data_test)

In [ ]:
db = client.sask

In [ ]:
db = client.sask

In [ ]:
collection  = db.course

In [ ]:
data = pd.DataFrame(list(collection.find()))

In [ ]:
from pprint import pprint
pprint(data)

In [ ]:
q6 : create a class to perform append and delete operation in a file and inherit it in child class ?

In [ ]:
q7 : create a class to import a data into file from mongo db

In [ ]:
class mongodb : 
    
    def __init__(self , userid1 , password1, data ) :
        
        """
        this is a code for mongodb connectivity and its related application 
        """
        self.userid = userid1
        self.password = password1 
        self.data = data 
    
    
    def connect(self) :
        print("this fun will help you to coonnect with your mongo db ")
        url = "mongodb+srv://" + self.userid + ":" + self.password+ "@cluster0.qivyyos.mongodb.net/?retryWrites=true&w=majority"
        client = pymongo.MongoClient(url)
        return client
        
    def insert(self ):
        conn = self.connect()
        print("this fun will help you to insert into mondo db ")
        db = conn['mongodb_test']
        coll = db['mongo_record']
        coll.insert_one(self.data)
        
    def update(self):
        print("this fun will help you to update in mongodb")

In [ ]:
mongo = mongodb("mongodb" , "mongodb")

In [ ]:
q8 : Create a class to build a calculator functionalities addition , subtraction , multiplication, 
     div , log , exponenet , power?

In [ ]:
def add(x1,x2):
    return x1+x2

def substract(x1,x2):
    return x1-x2

def multiply(x1,x2):
    return x1*x2

def division(x1,x2):
    return x1/x2
    
def menu():
    try:
        value = int(input("""
        Select operations:

        1 --> Addition (+)
        2 --> Substraction (-)
        3 --> Multiplication (*)
        4 --> Division (/): 
        5 --> Exit

        """))
        return value

    except Exception as e:
        print("An error occured: ",e)
    




def main(): 
    
    operation = 0
    
    while operation <= 5:
        try:       
            operation = menu()
            a= float(input('Enter first number: '))
            b= float(input('Enter second number: '))
            
        except Exception as e:
            print("an error occured in main() function: ",e)
            return main()
        
        if operation == 5:
            print("User does not like to proceed.")
            break

        elif operation == 1:
            print(f"The addition of {a} + {b}  = {add(a,b)}")

        elif operation == 2:
            print(f"The Substraction  of {a} - {b}  = {substract(a,b)}")
        elif operation == 3:
            print(f"The product of {a} * {b}  = {multiply(a,b)}")
            
        elif operation == 4 or b == 0:
            try:
                print(f"The division os {a} / {b} is :{a/b} ")
            except Exception as e:
                print("Zero division error occured",e)
           
        
        
        cal_again = input("Do you want to perform another operation (y/n): ")
        
        if cal_again.upper() == 'Y':
            main()
            break
            
        else:
            print("Calculation ended")
            break
        
        

main()

In [ ]:
q9 : create a class method to find a time and space complexity of any function?

In [ ]:
q10: create a class to do a bulk upload of a file in mysql?

In [ ]:
q11: Give 10 different examples of ploymorphism, encapsulation, data abstraction, overloading, 
     overriding, multiple inheritance?

In [ ]:
q12: Try to explore a meaning of "-> " this sinnature in python